include *.py
include *.rst
include LICENSE
include MANIFEST.in
include pyproject.toml
include tox.ini

include mopidy_advanced_scrobbler/ext.conf

recursive-include mopidy_advanced_scrobbler/sql *.sql
recursive-include mopidy_advanced_scrobbler/static *

recursive-include tests *.py
