.menu-list {
  list-style: none;

  li {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  li:first-of-type {
    margin-top: 0;
  }

  li:last-of-type {
    margin-bottom: 0;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 4px;
}

.mas-toolbar {
  display: flex;
  align-items: center;

  .n-card > .n-card-header .n-card-header__main & {
    font-weight: var(--font-weight);
  }
}

.n-card.n-card--bordered > .n-card__content {
  > .n-data-table.n-data-table--bordered,
  > .n-config-provider > .n-data-table.n-data-table--bordered {
    > .n-spin-container > .n-spin-content > .n-data-table-wrapper {
      border-width: 1px 0 0 0;
    }
  }
}
