$mas-spacing: 4px;

.mas-flex {
  display: flex;
  flex: 1 1 auto;
}

.mas-spacer {
  flex-grow: 1;
}

.mas-flex-column {
  flex-direction: column;
}

.mas-flex-grow {
  flex-grow: 1;
  flex-basis: auto;
}

.mas-flex-no-shrink {
  flex-shrink: 0;
}

.mas-mx1 {
  margin-left: $mas-spacing * 1;
  margin-right: $mas-spacing * 1;
}

.mas-mx2 {
  margin-left: $mas-spacing * 2;
  margin-right: $mas-spacing * 2;
}

.mas-mb2 {
  margin-bottom: $mas-spacing * 2;
}

.mas-ml3 {
  margin-left: $mas-spacing * 3;
}

.mas-px3 {
  padding: $mas-spacing * 3;
}

.text-center {
  text-align: center;
}
