name: CI

on: ["push", "pull_request"]

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Python 3.8"
            python: "3.8"
          - name: "Python 3.9"
            python: "3.9"

    name: ${{ matrix.name }}
    runs-on: "ubuntu-20.04"
    container: "ghcr.io/mopidy/ci:latest"

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Fix home dir permissions to enable pip caching
        run: chown -R root /github/home
      - name: Cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python }}-pip-${{ hashFiles('setup.cfg') }}-${{ hashFiles('tasks.py') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python }}-pip-
      - name: "Install mopidy system dependencies"
        run: "python -m pip install pygobject"
      - name: "Install package dependencies"
        run: "python -m pip install .[dev]"
      - name: "Run linting"
        run: "python -m invoke lint"
      # Not ready yet
      #- name: Run type checking
      #  run: python -m invoke type-check
      - name: "Run tests"
        run: python -m invoke test
      - uses: codecov/codecov-action@v1
        if: ${{ matrix.coverage }}

  frontend:
    name: Frontend
    runs-on: ubuntu-20.04
    container: ghcr.io/mopidy/ci:latest

    defaults:
      run:
        working-directory: "./frontend"

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: "Install frontend dependencies"
        run: "yarn install"
      - name: "Run linting"
        run: "yarn run lint"
      - name: "Run the build"
        run: "yarn run build"
